.product-show {
  background: #fff;

  .price {
    color: green;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .creation-date {
    .title {

    }
    .value {
      padding-left: 10px;
      font-style: italic;
    }
  }
}
